@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column-left {
    background-image: url(./imagens/main-foto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px auto;
}

.column-right {
    
}