@charset "UTF-8";


/* Mobile First */

* {
    margin: 0;
    padding: 0;
}

:root {
    --cinza: #c1c1c1;
    --cin: #E4E4E9;
    --cinza-claro: #F6F6F7;
    --azul: #006dcc;
   /*  #E4E4E9 */
}

body, html {
    font-family: 'Segoe UI';
    background-color: var(--cinza-claro);
}

h1 {
    font-size: 1.4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cinza);
    padding: 1em;
}

div#carrinho {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}