@charset "UTF-8";


/* Mobile First */

* {
    margin: 0;
    padding: 0;
}

:root {
    --cinza: #c1c1c1;
    --cin: #E4E4E9;
    --cinza-claro: #F6F6F7;
    --azul: #006dcc;
   /*  #E4E4E9 */
}

body, html {
    font-family: 'Segoe UI';
    background-color: var(--cinza-claro);
}

h1 {
    font-size: 1.4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cinza);
    padding: 1em;
}

header > a { /* Botao Carrinho */
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 8px;
    width: 92px;
    background-color: var(--cin);
    color: black;
    font-weight: 500;
}

header svg.lucide {
    width: 20px;
    height: 20px;
}

main {
    width: 95vw;
    margin: 10px auto;
}

div#catalogo { /* Grade dos produtos */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

div.produto { /* Cartao do produto */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    height: 222px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.108);
}

.produto > button {
    height: 26px;
    padding: 0px 8px;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
    background-color: #006dcc2b;
}

h3.titulo-produto {
    margin-bottom: 4px;
}

img {
    width: 55%;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 2.3em;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(32, 32, 32);
}

/* Efeitos */

header > a:hover {
    border: 1px solid black;
}

.produto > button:hover {
    text-decoration: underline;
}