@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --azul: #015CAC;
}

/* Cabeçalho */
header {
    display: flex;
    background-color: var(--azul);
    height: 70px;
}

/* Navegação */
header nav {
    background-color: var(--azul);
    max-width: 100%;
    display: inline-block;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    height: 70px;
    align-content: center;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

/* Conteúdo principal */
main {
    display: block;
    text-align: center;
    max-width: 90%;
    width: 100%;
    padding: 0px;
    margin: 50px auto 110px auto;
}

#principal {
    border: none;
    box-shadow: none;
    height: 680px;
}

main img {
    max-width: 1000px;
    display: block;
    margin: auto;
}

/* Rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.137);
    color: var(--azul);
    text-indent: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilização de Divs */
div {
    margin-top: 30px;
}

div#contato {
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.103);
    padding: 10px;
}

div.anuncio {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    padding: 15px;
    margin: 8px;
    max-width: 550px;
}

div:hover {
    background-color: rgba(0, 0, 0, 0.007);
    border-color: var(--azul);
    transition: 0.8s;
}

div.anuncio p {
    background-color: var(--azul);
    color: white;
    font-size: .9em;
    
    display: inline-flex;
    margin: 10px;
    padding: 3px 13px;
    border: 1px solid;
    border-radius: 14px;
}

p:hover {
    background-color: white;
    border-color: var(--azul);
    color: var(--azul);
    transition: 0.3s;
}

input {
    width: 250px;
    height: 35px;
    margin: 5px;
    text-indent: 8px;
}

div > input button {
    background-color: var(--azul);
}

h2 {
    color: var(--azul);
}