    /* Versao Mobile */


    @media screen and (max-width: 670px) {
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .layout {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 235px 1fr;
        }

        main {
            background-color: white;
            margin: 5px;
            border-radius: 4px;
        }
    }
    