/* Versao Desktop */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI';
    background-color: #d6d6d6;
}

.layout {
    display: grid;
    grid-template-columns: 185px 1fr;
}

h1 {
    font-size: 1.3em;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 35px);
    gap: 3px;
    background-color: #d6d6d6;
    height: 100vh;

    padding: 5px 9px;
}

div.item {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    border-radius: 4px;
}

div.item > a {
    text-decoration: none;
    text-indent: 4px;
    color: black;
}

div.item:hover {
    background-color: #bdbdbd;
    transition: .4s ease-in-out;
}

main {
    background-color: white;
    margin: 5px 5px 5px 0px;
    border-radius: 4px;
    padding: 8px 14px;
    text-align: justify;
    transition: 1s ease-in-out;
}

main > h1 {
    margin-bottom: 5px;
}

svg.lucide {
    height: 18px;
}