body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 15px;
}

/* Color Theme Swatches in HSLA */
/* Color Theme Swatches in Hex */
.CR---Shades-of-Teal-1-hex { color: #265C4B; }
.CR---Shades-of-Teal-2-hex { color: #146551; }
.CR---Shades-of-Teal-3-hex { color: #007566; }
.CR---Shades-of-Teal-4-hex { color: #589A8D; }
.CR---Shades-of-Teal-5-hex { color: #8FC1B5; }

header {
    /* background-color: rgb(216, 221, 221); */
    text-align: left;
}

header > h1 {
    margin-bottom: 0px ;
    color: #265C4B;
}

nav {
    /* background-color: white; */
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    height: 35px;
    align-content: center;
}

nav > a {
    text-decoration: none;
    font-weight: 600;
    margin: 8px;
    color: black;
}

nav > a:hover {
    color: #265C4B;
}

h2 {
    text-align: left;
    color: #265C4B;
    width: fit-content;
}

h3 {
    text-align: left;
    color: #265C4B;
    background-color: #8fc1b55d;
    width: fit-content;
}

p {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding-bottom: 18px;
}

strong {
    color: #265C4B;
}

article {
    background-color: white;
}