@charset "UTF-8";

:root {
    --azul: #0078D7;
    --azulescuro: #0066b9;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(218, 218, 218, 0.719);
}

div#container { /* Caixa principal */
    z-index: 1;
    display: block;
    background-color: white;
    width: 400px;
    height: 515px;
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    border-radius: 8px;
}

div#titulo { /* Area do titulo */
    display: block;
    margin-bottom: 20px;
}

div.input-group {
    margin-bottom: 15px;

}

div.input-group label { /* Labels */
    display: block;
    margin-bottom: 3px;
    width: 200px;
    font-weight: 500;
    font-size: 0.90em;
}

div.input-group input { /* TextBox */
    background-color: rgba(128, 128, 128, 0.212);
    height: 40px;
    width: 200px;
    text-indent: 8px;
    border: none;
    border-radius: 6px;
}
div#botoes {

}

button {
    height: 35px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}


button#continuar {
    height: 35px;
    width: 120px;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 5px;
}

button#continuar:hover {
    transition: 0.3s;
    background-color: #000000b2;
}

input::placeholder {text-align: left;}

footer {
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}