body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid white;
    transition: .5s;
}

nav > a.ativo {
    background-color: cadetblue;
    border: 1px solid cadetblue;
    color: white;
}

nav > a:hover {
    border: .5px solid rgba(0, 0, 0, 0.781);
}

p {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.144);
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 6px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
img {
    display: block;
    border-radius: 50%;
    border: 2px solid cadetblue;
    margin: auto;
}

div h1 {
    margin-top: 3px;
}
div {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 18px;
    width: 380pxpx;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.158);
}