@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightblue;
}

header > h1 {
    text-align: center;
}

menu ul {  
    list-style-type: none;
    background-color: darkgray;
}

menu li {
    background-color: rgb(105, 104, 104);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 7px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}