@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 1.1em;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 13px;
}

main {
    display: grid;
}
img {
    width: 40%;
    max-width: 250px;
    margin: 30px auto;
    border-radius: 50%;
}

h2 {margin-bottom: 7px;}

section {
    background-color: #f0f0f0;
    margin: 7px;
    border-radius: 5px;
}

section > p {
    line-height: 22px;
}

#descricao {
    padding: 13px;
    text-align: justify;
}

#timeline {
    padding: 13px;
    margin: 8px 0px 24px;
}

#timeline > table {
    border-collapse: collapse;
}

#timeline > table th:nth-child(1), td:nth-child(1) {
    width: 12%;
    text-align: center;
}

#timeline > table td, th {
    border: 1px solid gray;
    padding: 8px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 9px;
}

footer > p {
    line-height: 23px;
}

/* Telas maiores */

@media screen and (min-width: 468px){
    main {
        width: 97%;
        max-width: 700px;
        margin: auto;
    }
}











