@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000000;
    --cinza-escuro: #333333;
    --cinza-medio: #828282;
    --azul-profundo: #0d47a1;
    --azul-claro: #1976d2;
    --azul-suave: #263238;
}

body {
    background-color: var(--preto);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 35px;
}

#container-tarefa {
    display: flex;  
    flex-flow: column nowrap;
    align-items: center;
    margin: 50px auto;
    width: 100vw;
    height: 90vh;
    padding-bottom: 10px;
}

div.comandos {
    display: flex;
    height: 50px;
    width: 96vw;
    justify-content: flex-start;
    align-items: center;
}

div.comandos > input {
    height: 35px;
    width: 95vw;
    text-indent: 9px;
    border-radius: 6px;
    border: 1px solid var(--cinza-medio);
    background-color: var(--preto);
    color: white;
}

div.comandos > button {
    font-size: 1em;
    height: 30px;
    width: 31px;
    border-radius: 6px;
    border: none;
    background-color: var(--azul-claro);
    margin-left: 5px;
    color: white;
}

ul {
    margin: 10px 0px -5px 0px;
}

ul > li {
    display: flex;
    align-items: center;
    width: 96vw;
    height: 55px;
    background-color: var(--cinza-escuro);
    border-radius: 6px;
    margin-bottom: 6px;
    list-style: none;
    text-indent: 10px;
    
}


/* Efeitos */

div.comandos > input:focus {
    border-color: blue;
}